# ignore OS- and IDE-specific files
**/.DS_Store
**/.idea

# ignore build-and-install `setuptools` files
**/build
**/dist
**/*.egg-info

# ignore profiling files
**/gmon.out

# ignore generated Python bytecode
**/__pycache__

# ignore PyTorch JIT traces
**/.libtraces

# ignore built documentation and Jupyter notebook checkpoints
**/docs/_build/*
**/.ipynb_checkpoints

